.searchWrapper {
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 0px;
  min-height: 0px;
  position: relative;
  border: none;
}
.form-select {
  -moz-padding-start: 0;
  //   background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
