.searchWrapper {
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 0px;
  min-height: 0px;
  position: relative;
  border: none;
}
.form-select {
  -moz-padding-start: 0;
  //   background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.message-box {
  border: none;
}
.cust-container {
  margin-top: 1rem;
}
.tick-table-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  scroll-behavior: smooth;
  display: block;
  position: relative;
  height: 60vh;
  overflow: auto;
  line-height: 1.5;
}
