// .nav-container{
//     // background-color: #e3f2fd !important;
//     // color: aqua;
    
// }
.nav-link{
    color: #0d88a9 !important;
}
.navbar-expand-sm {
    flex-wrap:unset;
    justify-content:end;
}
.ticket-master {
    // // background-color:#459c98 !important;
    // float: left !important;
    // padding-left: 100px;
    text-decoration: none;
    float: left !important;
}