// .nav-container{
//     // background-color: #e3f2fd !important;
//     // color: aqua;

// }
.nav-link {
  color: #0d88a9 !important;
}
.navbar-expand-sm {
  flex-wrap: unset;
  justify-content: end;
}
.tick-mast {
  text-decoration: none;
  float: left;
  position: relative;
  text-align: left;
  left: -840px;
}
