// .nav-container{
//     // background-color: #e3f2fd !important;
//     // color: aqua;

// }
.nav-link {
  color: #0d88a9 !important;
}
.navbar-expand-sm {
  flex-wrap: unset;
  justify-content: end;
}
.tick-mast {
  // // background-color:#459c98 !important;
  // float: left !important;
  // padding-left: 100px;
  text-decoration: none;
  //   float: ;
  float: left;
  //   background-color: aqua;
  position: relative;
  text-align: left;
  left: -840px;
  //   top: 2px;
}
//   background-color:yellow;">
