.emp-show-btn{
    width: 90%;
    background: #2691d9;
    border: 1px solid;
    border-radius: 25px;
    height: 40px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
}
.emp-dlt-btn{
    width: 90%;
    background: #eb2626c7;
    border: 1px solid;
    border-radius: 25px;
    height: 40px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
}