.show-btn {
  width: 70px;
  // background: #2691d9;
  border: 1px solid;
  border-radius: 8px;
  color: #e9f4fb;
  height: 40px;
  cursor: pointer;
  outline: none;
  // font-weight: 400;
  background-color: #007bff;
  // border-color: #117a8b;
}
.delete-btn {
  width: 80px;
  background: #eb2626c7;
  border: 1px solid;
  border-radius: 8px;
  color: #e9f4fb;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.submit-btn {
  width: 70px;
  // background: #2691d9;
  border: 1px solid;
  border-radius: 8px;
  color: #e9f4fb;
  height: 40px;
  cursor: pointer;
  outline: none;
  // font-weight: 400;
  background-color: #64e958;
  // border-color: #117a8b;
}
.table {
  padding: 0.4rem 0.5rem;
}
